{% extends 'potlako/base.html' %}


{% block extra-styles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<style>
.my-card
{
    position:absolute;
    left:40%;
    top:-20px;
    border-radius:50%;
}
</style>
{% endblock extra-styles %}

{% block main %}
<div class="jumbotron">
<div class="row w-100">
        <div class="col-md-4">
            <div class="card border-danger mx-sm-1 p-3">
                <div class="card border-danger shadow text-danger p-3 my-card" ><span aria-hidden="true"></span></div>
                <div class="text-danger text-center mt-3"><h4>Enrollments</h4></div>
                <div class="text-danger text-center mt-2"><h1>{{ enrolled_subjects }}</h1></div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card border-success mx-sm-1 p-3">
                <div class="card border-success shadow text-success p-3 my-card"><span  aria-hidden="true"></span></div>
                <div class="text-success text-center mt-3"><h4>Screened Subjects</h4></div>
                <div class="text-success text-center mt-2"><h1>{{ screened_subjects }}</h1></div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card border-info mx-sm-1 p-3">
                <div class="card border-info shadow text-info p-3 my-card" ><span  aria-hidden="true"></span></div>
                <div class="text-info text-center mt-3"><h4>Subject Consents</h4></div>
                <div class="text-info text-center mt-2"><h1>{{ consented_subjects }}</h1></div>
            </div>
        </div>

     </div>
</div>

<aside class="col-sm-2">
<div class="card">
	<article class="card-group-item">

	</article> <!-- card-group-item.// -->
</div> <!-- card.// -->
</aside> <!-- col.// -->

<aside class="col-sm-4">
<div class="card">
	<article class="card-group-item">
		<header class="card-header"><h6 class="title">Enrollments </h6></header>
		<div class="filter-content">
			<div class="list-group list-group-flush">
			  <a href="" class="list-group-item">All <span class="float-right badge badge-light round"></span> </a>
			  <a href="" class="list-group-item">Total patients enrolled last week <span class="float-right badge badge-light round">{{ past_week }}</span> </a>
			  <a href="" class="list-group-item">Total patients enrolled in intervention arm<span class="float-right badge badge-light round">{{ intervention_enrolled }}</span></a>
			  <a href="" class="list-group-item">Total enrolled in enhanced usual care arm <span class="float-right badge badge-light round">{{ enhanced_care_enrolled }}</span></a>
			</div>  <!-- list-group .// -->
		</div>
	</article> <!-- card-group-item.// -->
</div> <!-- card.// -->
</aside> <!-- col.// -->

<aside class="col-sm-4">
<div class="card">
	<article class="card-group-item">
		<header class="card-header"><h6 class="title">Links </h6></header>
		<div class="filter-content">
			<div class="list-group list-group-flush">
			  <a href="{% url data_manager_listboard_url %}" class="list-group-item">Data Action items </a>
			  <a href="#" class="list-group-item">ODK Documentation</a>
			  <a href="{% url contact_listboard_url %}" class="list-group-item">EDC SMS</a>
			  <a href="{% url 'edc_calender:home_url' %}" class="list-group-item">EDC Calender</a>
			  <a href="#" class="list-group-item">Verify consent</a>
			</div>  <!-- list-group .// -->
		</div>
	</article> <!-- card-group-item.// -->
</div> <!-- card.// -->
</aside> <!-- col.// -->

{% endblock main %}
