<!DOCTYPE html>
<html lang="en">
<head>
  <title>POTLAKO PLUS LIVE HUBS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
  <!-- Core theme CSS (includes Bootstrap)-->
</head>
<body>

<div class="jumbotron text-center">
	<h2>Potlako Plus Server</h2>
</div>

<div class="container">
<!-- <div class="row">
  <div class="col-md-3"></div>
  <div class="col-sm-6"> -->

  <div class='jumbotron'>
      <div class='row'>
          <div class='col-md-12'>
              <div class="panel panel-danger">
		      <div class="panel-heading"><b>Potlako+ Live Server</b></div>
                  <div class="panel-body">
                      <ul class="list-group">
                          <li class="list-group-item list-group-item-danger"><a href="https://potlako-plus.bhp.org.bw:9000">Potlako+ Live Server<a></li><br>
                      </ul>
                  </div>
              </div>
          </div>
        </div>
  </div>
  
  <!-- Icons Grid-->
  <section class="features-icons bg-light text-center">
      <div class="container">
          <div class="row">
              <div class="col-lg-3">
                  <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                      <a class="btn btn-primary btn-sm" href="http://potlako-plus.bhp.org.bw:88" role="button">Machine 10</a>
                      <h5>Potlako+ machine 10</h5>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                      <a class="btn btn-primary btn-sm" href="http://potlako-plus.bhp.org.bw:89" role="button">Machine 20</a>
                      <h5>Potlako+ machine 20</h5>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                      <a class="btn btn-primary btn-sm" href="http://potlako-plus.bhp.org.bw:90" role="button">Machine 30</a>
                      <h5>Potlako+ machine 30</h5>
                  </div>
              </div>
	      <div class="col-lg-3">
                  <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                      <a class="btn btn-primary btn-sm" href="http://potlako-plus.bhp.org.bw:91" role="button">Machine 40</a>
                      <h5>Potlako+ machine 40</h5>
                  </div>
	      </div>
	  </div>
          <div class="row">
              <div class="col-lg-3">
                  <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                      <a class="btn btn-primary btn-sm" href="http://potlako-plus.bhp.org.bw:92" role="button">Machine 50</a>
                      <h5>Potlako+ machine 50</h5>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                      <a class="btn btn-primary btn-sm" href="http://potlako-plus.bhp.org.bw:93" role="button">Machine 60</a>
                      <h5>Potlako+ machine 60</h5>
                  </div>
              </div>
	      <div class="col-lg-3">
                  <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                      <a class="btn btn-primary btn-sm" href="http://potlako-plus.bhp.org.bw:94" role="button">Machine 70</a>
                      <h5>Potlako+ machine 70</h5>
                  </div>
              </div>
	      <div class="col-lg-3">
                  <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                      <a class="btn btn-primary btn-sm" href="http://potlako-plus.bhp.org.bw:95" role="button">Machine 80</a>
                      <h5>Potlako+ machine 80</h5>
                  </div>
              </div>
	  </div>
	  <div class="row">
              <div class="col-lg-3">
                  <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                      <a class="btn btn-primary btn-sm" href="http://potlako-plus.bhp.org.bw:96" role="button">Machine 90</a>
                      <h5>Potlako+ machine 90</h5>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                      <a class="btn btn-primary btn-sm" href="http://potlako-plus.bhp.org.bw:97" role="button">Machine 91</a>
                      <h5>Potlako+ machine 91</h5>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                      <a class="btn btn-primary btn-sm" href="http://potlako-plus.bhp.org.bw:98" role="button">Machine 92</a>
                      <h5>Potlako+ machine 92</h5>
                  </div>
              </div>
          </div>
      </div>
  </section>

</div>
</body>
</html>
